*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

html, body {
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
}

p, ul, ol, blockquote {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  background: transparent;
  border: none;
  font: inherit;
}

:focus {
  outline: none;
}

